<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">$R!Rahul001</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Mapping files -->
        
        <mapping class="javaDemo.E_com.User"/>
        <mapping class="javaDemo.E_com.Address"/>
        <mapping class="javaDemo.E_com.PurchaseOrder"/>
        <mapping class="javaDemo.E_com.PurchaseOrderItem"/>
        <mapping class="javaDemo.E_com.Product"/>
        <mapping class="javaDemo.E_com.Rating"/>
        
    </session-factory>
</hibernate-configuration>
